section.component.component-send-password-success

    .alert.alert-success
        = __('Please check your mailbox for the password reset link')

    a.btn.btn-primary.btn-block(href="#{app.baseUrl}/")= __('Sign in')
