@import "_bootstrap.less";

html,body{
  height: 100%;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}
* {
  box-sizing: border-box;
}
