doctype html
html
    head
        if(environment !== 'production')
            title= '[' + environment + '] - ' + app.title
        else
            title= app.title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href="#{app.baseUrl}/css/app.min.css")
    body
        != body
